*{
    padding: 0;
    margin: 0;
}
.navbar{
    width: 100%;
    height: 90px;
    background-color: rgb(40, 36, 36);
    position: fixed;
    display: block;
    margin-top: -90px;
    /* position: absolute; */
    /* z-index: 3; */
}
.navbar ul{
    width: 1140px;
    height: 90px;
    margin: auto;
}
.navbar ul li{
    float: left;
    list-style-type: none;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding-top: 35px;
    padding-left: 40px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar ul li a:hover{
    color: yellow;
}
.container{
    width: 100%;
    height: 3110px;
    background-color: black;
    margin-top: 90px;
    /* position: relative; */
}
.container1{
    width: 1140px;
    height: 2488px;
    /* background-color: red; */
    margin: auto;
    margin-top: 30px;
}
.container2{
    width: 1140px;
    height: 300px;
    /* background-color: aqua; */
    margin-top: 40px;
}
.box{
    width: 366px;
    height: 300px;
    /* background-color: blueviolet; */
    float: left;
    margin-left: 20px;
    border-radius: 10px;
    /* data-aos="zoom-in" */
}
.container3{
    width: 1140px;
    height: 270px;
    /* background-color: beige; */
    margin-top: 50px;
}
.box1{
    width: 170px;
    height: 270px;
    /* background-color: aqua; */
    float: left;
    margin-left: 24px;
    border-radius: 10px;
}
.container4{
    width: 1140px;
    height: 270px;
    /* background-color: beige; */
    margin-top: 40px;
}
.box2{
    width: 170px;
    height: 270px;
    /* background-color: aqua; */
    float: left;
    margin-left: 24px;
    border-radius: 10px;

}
.container5{
    width: 1140px;
    height: 420px;
    background-color: rgb(54, 28, 28);
    margin-top: 50px;
    border-radius: 30px;
}
.container6{
    width: 1140px;
    height: 270px;
    /* background-color: black; */
    /* margin-top: 40px; */
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.bottom{
    width: 1140px;
    height: 40px;
    background-color: rgb(26, 24, 24);
    margin: auto;
    margin-top: -40px;
}